name: Proof HTML

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  proof:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: anishathalye/proof-html@v1.1.0
        with:
          directory: ./
